.extras-item {
    font-size:smaller;
    margin:3px 3px 0px 0px;
    padding:1px 3px 2px 3px;
    border-radius:3px;
    background:#bbb;
}

.extras-item:hover {
    text-decoration:line-through;
}