.extras-typeahead-input {
    position:relative;
}

.extras-typeahead-input > .primary {
    position:absolute;
    z-index:10;
    width:100%;
    top:0;
    left:0;
}

.extras-typeahead-input > .shadow {
    color:silver;
    z-index:1;
    width:100%;
}

.onyx-input-decorator > .extras-typeahead-input > input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    box-shadow: none;
}