.extras-grid {
    position:relative;
}

.extras-grid > * {
    position:absolute;
    -webkit-transition:all 250ms ease-out;
    -moz-transition:all 250ms ease-out;
    -o-transition:all 250ms ease-out;
    -ms-transition:all 250ms ease-out;
    transition:all 250ms ease-out;
}